<form action="/session" method="post">
  <h3>Log in</h3>
  <input type="hidden" name="authenticity_token" value="token_value">
  <input type="email" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">
  <button>Login</button>
</form>
